.notesPage {
    display: flex;
    gap: 40px;
    padding-top: 120px;
}

.notesPage-controller {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    bottom: 50px;
    left: 50px;
}

.error {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error__title {
    margin: 0;
    margin-bottom: 60px;
    font-size: 46px;
    color: var(--text-primary);
}