.note {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 846px;
    border-radius: 30px;
    padding: 30px 27px 25px;
    background-color: var(--background-input);
}

.note__createTime {
    position: absolute;
    top: 17px;
    right: 26px;
    color: var(--text-third);
}

.note__title {
    padding-left: 10px;
    margin: 0;
    margin-bottom: 25px;
    text-align: start;
    font-size: 35px;
    font-weight: 400;
}

.note__descr {
    text-align: start;
    font-size: 20px;
}